{%extends 'src/base.html'%}

{%block title %}signup{%endblock title%}

{%block content%}

<div class="container-fluid bg-dark ">
    <div class="container bg-light text-dark p-5" style="height:100%; border:2px solid black;">
        {% include 'src/navbar.html'%}
        <div class="row mt-3">
            <div class="col">
                <form action="" method="POST">
                    {% csrf_token %}

                    {% for forms in form %}
                    <div class="form-group">
                        <label>{{forms.label}}</label>
                        <p>{{forms}}</p>
                    </div>
                    {%endfor%}
                    <input type="submit" value="add" class="btn btn-secondary">
                    <a href="{%url 'dashboard'%}" class="btn btn-secondary">exit</a>
                </form>
                
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--container block-->
{%endblock content%}