{%extends 'src/base.html'%}
{%block title %}home_page{%endblock title%}
{%block container%}
{% if user.is_authenticated %}
    <div class="alert alert-sucess" role = "alert">
        <h3> welcome {{user.username}}! </h3>
        <a href = "{%url 'logout'%}">Logout</a>
    </div>
{%else%}
    <div class="alert alert-sucess" role = "alert">
        <h3> welcome !</h3>
        <a href="{%url 'register' %}"> Signup</a>
        <a href="{%url 'login' %}"> Login</a>
    </div>
{% endif %}
{%endblock%}
